@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap');

:root{
    --first-color : #FFD5CD;
    --second-color: #EFBBCF;
    --third-color : #C3AED6;
    --fourth-color: #8675A9;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--third-color);
    font-family: 'Fredoka', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 40px;
}

header label{
    position: absolute;
    top: 5%;
    transform: translateY(-50%);
    /* padding-right: -10px; */
    transform: translateX(-100%);
    color: var(--fourth-color);
    transition: all 0.5s ease-in;
}

header:focus-within label{
    top: -19px;
    color: var(--fourth-color);
}

header input{
    border: none;
    outline: none;
    width: 25%;
    background-color: var(--third-color);
    border-bottom: 2px solid var(--fourth-color);
    padding-left: 4px;
    color: var(--fourth-color);
    font-size: 17px;
    font-family: 'Fredoka', sans-serif;
}

header button{
    outline: none;
    border: 2px solid var(--fourth-color);
    margin-left: 10px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    color: var(--fourth-color);
    background-color: var(--third-color);
    border-radius: 5px;
}

.active label{
    top: -19px;
    color: var(--fourth-color);
}

.global-container{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    
}

.img-card{
    width: 25%;
    border: 2px solid var(--fourth-color);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.img-card img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.img-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.img-info h4{
    color: var(--fourth-color);
}

.img-info span{
    border: 1px solid var(--fourth-color);
    color: var(--fourth-color);
    padding: 5px 10px;
    border-radius: 5px;
} 

 .overview{
    background-color: var(--first-color);
    position: absolute;
    padding: 40px;
    left: 0;
    right: 0;
    bottom: 2px;
    max-height: 100%; 
    transform: translateY(105%);
    transition: transform 0.3s ease-in;
}

.img-card:hover .overview{
    transform: translateY(0);
} 

